@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat:wght@600&family=Poppins:wght@400;500;600&display=swap");

:root {
  font-size: 10px;
  --dark: #100e1d;
  --grey-dark1: #333333;
  --grey-dark2: #4f4f4f;
  --grey-dark3: #828282;
  --grer-dark4: #bdbdbd;
  --grey-light1: #f2f2f2;
  --grey-light2: #a9a9a9;
  --grey-light3: #e0e0e0;
  --white: #ffffff;
  --red: rgba(235, 87, 87, 0.7);
  --green: rgba(39, 174, 96, 0.7);
  --blue: #57b0e2;
  --sans-serif1: "Poppins", Arial, Helvetica, sans-serif;
  --sans-serif2: "Montserrat", Arial, Helvetica, sans-serif;
  --brand: "Heebo", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  color: var(--grey-dark1);
  text-decoration: none;
}

body {
  color: var(--grey-dark1);
  font-family: var(--sans-serif1);
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
  align-items: center;
}

.header__brand {
  font-size: 3.6rem;
  font-family: var(--brand);
}

.navigation {
  width: 60%;
}

.navigation__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation__item {
  font-size: 2.4rem;
  font-weight: 500;
}

.navigation__item a {
  transition: opacity 0.4s ease-in-out;
}

.navigation__item a:hover {
  opacity: 0.8;
}

.content-section {
  width: 100%;
}

.eyebrow {
  font-size: 1.8rem;
}

.hero {
  margin-bottom: 200px;
}

.hero .eyebrow {
  color: var(--blue);
}

.hero .eyebrow,
.hero__headline,
.hero__description,
.hero .email-form {
  margin-left: 15%;
  max-width: 543px;
}

.hero__headline {
  font-size: 4.8rem;
  font-weight: 500;
  margin-bottom: 42px;
}

.hero__image {
  width: 100%;
  margin-bottom: 42px;
}

.hero__image img {
  width: 100%;
  border-radius: 25px;
}

.hero__description {
  font-size: 1.8rem;
  color: var(--grey-dark2);
  margin-bottom: 42px;
}

.email-form {
  display: inline-block;
}

.email-form label {
  display: block;
  color: var(--grey-dark3);
  margin-bottom: 9px;
  font-size: 1.4rem;
}

.email-form .input-area {
  position: relative;
}

.email-form input {
  background: var(--grey-light1);
  border: none;
  border-radius: 10px;
  padding: 15px 21px;
  font-size: 1.8rem;
  width: 350px;
}

.email-form input::placeholder {
  font-family: var(--sans-serif1);
  color: var(--grer-dark4);
}

.email-form button {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-105%, -50%);
  border: none;
  border-radius: 10px;
  background: var(--blue);
  color: var(--grey-light1);
  padding: 11px 28px;
  font-size: 1.8rem;
  font-size: 500;
  cursor: pointer;
}

.content-section:not(.hero) {
  margin: 0 auto 200px;
  width: 85%;
}

.content-section__headline {
  font-size: 3.6rem;
  font-weight: 500;
  max-width: 350px;
}

.flex-container {
  display: flex;
}

.services .flex-container {
  margin-top: 42px;
}

.card {
  margin: 0 24px;
  padding: 46px 34px;
  border-radius: 15px;
  transition: box-shadow 0.4s ease-in-out;
}

.card__icon {
  color: var(--white);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 35px;
  font-size: 2.7rem;
}

.card__icon--red {
  background-color: var(--red);
}

.card__icon--green {
  background-color: var(--green);
}

.card__icon--blue {
  background-color: var(--blue);
}

.card__headline {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.card__description {
  font-size: 1.6rem;
  margin-bottom: 39px;
  color: var(--grey-dark2);
}

.card__cta {
  font-size: 1.6rem;
  color: var(--grey-dark3);
  padding: 9px 13px;
  background: var(--grey-light3);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.card:hover,
.card:focus {
  box-shadow: 10px 10px 30px rgba(51, 51, 51, 0.1);
}

.card:hover > .card__cta,
.card:focus > .card__cta {
  background: var(--blue);
  color: var(--white);
}
